File upload + Permanode creation and verification weird error result

I was before trying to do these steps and it was working and now it stopped working. I'm using HTTP API with the equivalent of Javascript XHR and fetch functionalities from Actionscript 3.0.

1. File upload works (via **UI helper**)
2. Permanode **creation** and **signing** (works)
3. Permanode verification doesn't work

```
--4VVBGwEkxTcUqiuSjyjX486fHQJF4lSK

Content-Disposition: form-data; name="modtime"



2018-01-06T03:27:32Z

--4VVBGwEkxTcUqiuSjyjX486fHQJF4lSK

Content-Disposition: form-data; name="air_upload"; filename="EmbbederBundle.swf"

Content-Type: application/octet-stream



CWS҂
onFileUploadComplete
{
  "got": [
    {
      "filename": "EmbbederBundle.swf",
      "modtime": "2018-01-06T03:27:32Z",
      "formname": "air_upload",
      "fileref": "sha1-3e03bfa38754d724d9730e6561cfce67f267a175"
    }
  ]
}

NetConnection.Connect.Failed
onPermaNodeSigned
{"claimDate":"2018-01-06T03:28:26Z","camliVersion":1,"random":"y56NqEeMpV6i2p8wO3Ny0WNpNwq2i1Fm","camliType":"permanode","camliSigner":"sha1-d7d83f315043309c6e428bd3af09762c56e37713","camliSig":"wsBcBAABCAAQBQKIbgkACRCzBj716J2SYQAAzY8IALGt+CfDb4be6CeLG0C0dAvOtsHbcHmjg7Bu61IHfzmfx0PfdTXwPfKwxwAzUeczNd1id4sGjqo+/QylVxzv0iOecpc+2ALEX933xp6IbwP3u234cEYjqGA8CoozqW57pioiM5hzdZmSyFS0A98XBu0R9wQnRqfLZToaefHv36uQyUvEkR1UYCaV6l7dbTH0KT5PkLzb7s2bKg6Nt0r7BgRN0ZSgB6V7uA31wvdv4ktKsMl+ZDmdeQ65CVQxFScOYEzlPpeLepSYBGxcQuASjBuC42g/4HLN7Wh88EODjGpdUwGNOEerVOLgZZyISepKGySXzUd9spnm0PmIe6H2uNM==1oCA"}

Permanode Signed Successfully!
onPermaNodeVerified
{
  "signatureValid": false,
  "errorMessage": "jsonsign: no 13-byte camliSig separator found in sjson"
}
```

The **camliSig** separator is inside : **"camliSig":"wsBcBAABCAAQBQKIbgkACRCzBj716J2SYQAAzY8IALGt+CfDb4be6CeLG0C0dAvOtsHbcHmjg7Bu61IHfzmfx0PfdTXwPfKwxwAzUeczNd1id4sGjqo+/QylVxzv0iOecpc+2ALEX933xp6IbwP3u234cEYjqGA8CoozqW57pioiM5hzdZmSyFS0A98XBu0R9wQnRqfLZToaefHv36uQyUvEkR1UYCaV6l7dbTH0KT5PkLzb7s2bKg6Nt0r7BgRN0ZSgB6V7uA31wvdv4ktKsMl+ZDmdeQ65CVQxFScOYEzlPpeLepSYBGxcQuASjBuC42g/4HLN7Wh88EODjGpdUwGNOEerVOLgZZyISepKGySXzUd9spnm0PmIe6H2uNM==1oCA"**
  

Does the **camliSig** signature has to always be at the end of the JSON?
If it is the case this is not a good design choice because an Object property is parsed in alphabetical order which means that **camliSig** comes always first.



Yes, camliSig is always at the end of the JSON.  Instructions for how to
sign and verify claims, including the rationale for why it's always at the
end of the JSON, can be found at https://perkeep.org/doc/json-signing/.

On Sat, Jan 6, 2018 at 6:19 AM, gdeverlant <notifications@github.com> wrote:

> Does the *camliSig* signature has to always be at the end of the JSON?
> If it is the case this is not a good design choice because an Object
> property is parsed in alphabetical order which means that *camliSig*
> comes always first.
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/perkeep/perkeep/issues/1016#issuecomment-355749754>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAAEWIDDBTp_SCkA5Aksn314N2FG1ETsks5tH4DugaJpZM4RVKo1>
> .
>


I filed #1019 to improve the error message.

Ok I was able to make the following steps:

1. File upload.
2. Dummy Permanode signing
3. Signed Permanode verification
4. **Signed Permanode Upload breaks**

```
Unsigned blob:
{"camliVersion":1,"camliSigner":"sha1-66826ade50f4ec678b5a1d3ac2fc7c7eb46a8d53","random":"FpNQP3yOttfvIljPIfNb2LmYSwu5nfoh","camliType":"permanode","claimDate":"2018-01-07T01:55:34Z"}
onPermaNodeSigned
{"camliVersion":1,"camliSigner":"sha1-66826ade50f4ec678b5a1d3ac2fc7c7eb46a8d53","random":"FpNQP3yOttfvIljPIfNb2LmYSwu5nfoh","camliType":"permanode","claimDate":"2018-01-07T01:55:34Z","camliSig":"wsBcBAABCAAQBQKIbgkACRAWQVw8N0NWYQAANSwIABtRcc/EJ0+jOY9dBSyBzwG+HRwnU1vv9QsTrC+fQGvYNijnY2DA3B2RZwIvHDEGPqEhfOJzaVP/WE5L/8n+0+SvyeKcpTBZA+RfDXg0wPKDMaJuvLaKMOXyRYzPwBH+SUa3EUtRw4VsCoISGi4JMXB8mK5iycuhvYmkEP4Aw1t9k1t14ovY2Ucrclc1YreMWo1OcNPhv0/WTT5KxtPeb4WGTiC3H0BnLvEy5D1vL5ZuQ0gGoNoakhhwT7cIPZL11p2YCzfLyIAw1JKf4cVYgiGBMY6l9l/ANtaqFzxdzey6KmpO/IU3fK812/JaEhg61RGl8QXRmaPGHj/1lltSi3k==zRvQ"}

Permanode Signed Successfully!
Signed blob:
{"camliVersion":1,"camliSigner":"sha1-66826ade50f4ec678b5a1d3ac2fc7c7eb46a8d53","random":"FpNQP3yOttfvIljPIfNb2LmYSwu5nfoh","camliType":"permanode","claimDate":"2018-01-07T01:55:34Z","camliSig":"wsBcBAABCAAQBQKIbgkACRAWQVw8N0NWYQAANSwIABtRcc/EJ0+jOY9dBSyBzwG+HRwnU1vv9QsTrC+fQGvYNijnY2DA3B2RZwIvHDEGPqEhfOJzaVP/WE5L/8n+0+SvyeKcpTBZA+RfDXg0wPKDMaJuvLaKMOXyRYzPwBH+SUa3EUtRw4VsCoISGi4JMXB8mK5iycuhvYmkEP4Aw1t9k1t14ovY2Ucrclc1YreMWo1OcNPhv0/WTT5KxtPeb4WGTiC3H0BnLvEy5D1vL5ZuQ0gGoNoakhhwT7cIPZL11p2YCzfLyIAw1JKf4cVYgiGBMY6l9l/ANtaqFzxdzey6KmpO/IU3fK812/JaEhg61RGl8QXRmaPGHj/1lltSi3k==zRvQ"}

sjson=%7B%22camliVersion%22%3A1%2C%22camliSigner%22%3A%22sha1%2D66826ade50f4ec678b5a1d3ac2fc7c7eb46a8d53%22%2C%22random%22%3A%22FpNQP3yOttfvIljPIfNb2LmYSwu5nfoh%22%2C%22camliType%22%3A%22permanode%22%2C%22claimDate%22%3A%222018%2D01%2D07T01%3A55%3A34Z%22%2C%22camliSig%22%3A%22wsBcBAABCAAQBQKIbgkACRAWQVw8N0NWYQAANSwIABtRcc%2FEJ0%2BjOY9dBSyBzwG%2BHRwnU1vv9QsTrC%2BfQGvYNijnY2DA3B2RZwIvHDEGPqEhfOJzaVP%2FWE5L%2F8n%2B0%2BSvyeKcpTBZA%2BRfDXg0wPKDMaJuvLaKMOXyRYzPwBH%2BSUa3EUtRw4VsCoISGi4JMXB8mK5iycuhvYmkEP4Aw1t9k1t14ovY2Ucrclc1YreMWo1OcNPhv0%2FWTT5KxtPeb4WGTiC3H0BnLvEy5D1vL5ZuQ0gGoNoakhhwT7cIPZL11p2YCzfLyIAw1JKf4cVYgiGBMY6l9l%2FANtaqFzxdzey6KmpO%2FIU3fK812%2FJaEhg61RGl8QXRmaPGHj%2F1lltSi3k%3D%3DzRvQ%22%7D%0A
onPermaNodeVerified
{
  "signatureValid": true,
  "signerKeyId": "16415C3C37435661",
  "verifiedData": {
    "camliSigner": "sha1-66826ade50f4ec678b5a1d3ac2fc7c7eb46a8d53",
    "camliType": "permanode",
    "camliVersion": 1,
    "claimDate": "2018-01-07T01:55:34Z",
    "random": "FpNQP3yOttfvIljPIfNb2LmYSwu5nfoh"
  }
}

Permanode verified Successfully!
Permanode UPLOADING

--eUZc9QAp1G7hZ2nRrRnBcBi0OPnUEYum

Content-Disposition: form-data; name="sha1-56370e7a7d50988e7d378f3662e4f0af5e618683"; filename="blob1"

Content-Type: application/octet-stream



{"camliVersion":1,"camliSigner":"sha1-66826ade50f4ec678b5a1d3ac2fc7c7eb46a8d53","random":"FpNQP3yOttfvIljPIfNb2LmYSwu5nfoh","camliType":"permanode","claimDate":"2018-01-07T01:55:34Z","camliSig":"wsBcBAABCAAQBQKIbgkACRAWQVw8N0NWYQAANSwIABtRcc/EJ0+jOY9dBSyBzwG+HRwnU1vv9QsTrC+fQGvYNijnY2DA3B2RZwIvHDEGPqEhfOJzaVP/WE5L/8n+0+SvyeKcpTBZA+RfDXg0wPKDMaJuvLaKMOXyRYzPwBH+SUa3EUtRw4VsCoISGi4JMXB8mK5iycuhvYmkEP4Aw1t9k1t14ovY2Ucrclc1YreMWo1OcNPhv0/WTT5KxtPeb4WGTiC3H0BnLvEy5D1vL5ZuQ0gGoNoakhhwT7cIPZL11p2YCzfLyIAw1JKf4cVYgiGBMY6l9l/ANtaqFzxdzey6KmpO/IU3fK812/JaEhg61RGl8QXRmaPGHj/1lltSi3k==zRvQ"}




--eUZc9QAp1G7hZ2nRrRnBcBi0OPnUEYum--


onPermaNodeUploaded: {
  "received": [],
  "errorText": "Error receiving blob sha1-56370e7a7d50988e7d378f3662e4f0af5e618683: corrupt blob; digest doesn't match\n"
}
```

Am I doing something wrong when I create the **SHA1** hash of only this line?

```Actionscript
var signedBlob = '{"camliVersion":1,"camliSigner":"sha1-66826ade50f4ec678b5a1d3ac2fc7c7eb46a8d53","random":"FpNQP3yOttfvIljPIfNb2LmYSwu5nfoh","camliType":"permanode","claimDate":"2018-01-07T01:55:34Z","camliSig":"wsBcBAABCAAQBQKIbgkACRAWQVw8N0NWYQAANSwIABtRcc/EJ0+jOY9dBSyBzwG+HRwnU1vv9QsTrC+fQGvYNijnY2DA3B2RZwIvHDEGPqEhfOJzaVP/WE5L/8n+0+SvyeKcpTBZA+RfDXg0wPKDMaJuvLaKMOXyRYzPwBH+SUa3EUtRw4VsCoISGi4JMXB8mK5iycuhvYmkEP4Aw1t9k1t14ovY2Ucrclc1YreMWo1OcNPhv0/WTT5KxtPeb4WGTiC3H0BnLvEy5D1vL5ZuQ0gGoNoakhhwT7cIPZL11p2YCzfLyIAw1JKf4cVYgiGBMY6l9l/ANtaqFzxdzey6KmpO/IU3fK812/JaEhg61RGl8QXRmaPGHj/1lltSi3k==zRvQ"}'
var json:ByteArray = new ByteArray();
json.writeUTFBytes(signedBlob);
var jsonHash:String = "sha1-"+by.blooddy.crypto.SHA1.hashBytes(json);
```

The hash I receive seems to be different from the hash that is calculated on Perkeep.

It's been 2 days I'm stuck on this problem! It sucks please help 👍 

I'm not familiar with the language/libraries you're using, but I get a sha1 of `3c61285526822dc28a5b54d9abdb15abde0b0920` for that blob (https://play.golang.org/p/L3xd9zZBLIP) or `56370e7a7d50988e7d378f3662e4f0af5e618683` (https://play.golang.org/p/Kb50ZLM04Dz) if you include the trailing newline. I see you're also getting that, so the question is whether you're uploading the trailing newline or not in your `multipart/mime`. Your whitespace in the paste looks all messed up, so I can't tell. If you attach a pcap network capture file (from Wireshark or tcpdump), then I can tell for sure.


Here is the Class which handles the file upload:

```Actionscript
package
{
	import flash.net.URLRequest;
	import flash.net.URLRequestHeader;
	import flash.net.URLRequestMethod;
	import flash.utils.ByteArray;
	import flash.utils.Endian;
	
	/**
	 * Helper class to add multipart/form-data (including file attachments)
	 * to a form. Compared to other solutions like UploadPostHelper by Jonathan Marston,
	 * this class supports multiple attachments - and it's dual licensed under MPL and LGPL
	 * so you can use it in commercial projects.
	 * 
	 * How to use this:
	 *   1. Create an Instance of HttpPostData:
	 *        var postData:HttpPostData = new HttpPostData()
	 * 
	 *   2. Add your parameters and file attachments
	 *        postData.addParameter('foo1', 'bar1'); // POST-Field 'foo1' has value 'bar1'
	 *        postData.addParameter('foo2', 'bar2'); // POST-Field 'foo2' has value 'bar2'
	 *      
	 *        // POST-Field 'uploadedFile1' contains someBinaryData1 (ByteArray) 
	 *        // as 'application/octet-stream' with filename 'uploadedFile1'
	 *        postData.addParameter('uploadedFile1', someBinaryData1);
	 *   
	 *        // POST-Field 'uploadedFile2' contains someBinaryData2 (ByteArray) 
	 *        // as 'image/png' with filename 'image.png'
	 *        postData.addParameter('uploadedFile2', someBinaryData2, 'image.png', 'image/png') 
	 * 
	 *   3. Close this object. This will append the ending boundary to the data which makes
	 *      it impossible to add additional form data.
	 *        postData.close();
	 * 
	 *   4. Bind this to an URLRequest
	 *        var request:URLRequest = new URLRequest("http://www.example.org/someDestination/");
	 *        postData.bind(postData)
	 * 
	 *   5. Send the request:
	 *        var urlLoader:URLLoader = new URLLoader();
	 *        urlLoader.load(request)  
	 * 
	 * @Author: Roland Tapken <dev@tmp.dau-sicher.de>
	 * @License: Choose the one you like, either Mozilla Public License 1.1 or 
	 *           GNU Lesser General Public License 2.1.
	 */
	public class HttpPostData
	{
		public static const LINEBREAK_SHORT:int = 0x0d0a; // \r\n
		public static const DOUBLEDASH_SHORT:int = 0x2d2d; // --
		public static const BOUNDARY:String = "--" + makeBoundary(32); 
		public static const BOUNDARY_BYTES:ByteArray = stringToBytes(BOUNDARY);
		
		private var _data:ByteArray;        
		private var _closed:Boolean = false;
		
		public function HttpPostData()
		{
			_data = new ByteArray();
			_data.endian = Endian.BIG_ENDIAN;
		}
		
		public function get data():ByteArray
		{
			return _data;
		}

		/**
		 * Returns true when this object has been closed.
		 * If you try to add data to an closed object
		 * an Error will be thrown. If you try to bind
		 * a non-closed object to an URLRequest, an error
		 * will be thrown.
		 */
		public function get closed():Boolean
		{
			return _closed
		}
		
		/**
		 * Finalizes the data of the session by appending
		 * the closing boundary string.
		 */
		public function close():void
		{
			if (!closed) {
				_data.writeBytes(BOUNDARY_BYTES);
				_data.writeShort(DOUBLEDASH_SHORT);
				_data.writeShort(LINEBREAK_SHORT);
				_closed = true;
			}
		}
		
		/**
		 * Returns the content type required to send this data via http
		 */
		public function get contentType():String
		{
			// Drop the first to dashes for the content type line
			return 'multipart/form-data; boundary=' + BOUNDARY.substr(2);           
		}
		
		/**
		 * Returns the data of this session. Note that you have to close
		 * this session first unless setting ensureClosed to true in order
		 * to send this data to an http destination.
		 */
		public function getData(ensureClosed:Boolean = false):ByteArray
		{
			if (ensureClosed) {
				close();
			}
			return _data;
		}
		
		/**
		 * Attaches an string parameter with given name and value. 
		 */
		public function addParameter(name:String, value:String):void
		{
			ensureClosed(false);
			_data.writeBytes(BOUNDARY_BYTES);
			_data.writeShort(LINEBREAK_SHORT);
			var str:String = 'Content-Disposition: form-data; name="' + name + '"';
			_data.writeBytes(stringToBytes(str))
			_data.writeShort(LINEBREAK_SHORT);
			_data.writeShort(LINEBREAK_SHORT);
			_data.writeUTFBytes(value);
			_data.writeShort(LINEBREAK_SHORT);           
		}
		
		/**
		 * Adds an file attachment to the request. 'name' describes the formular's
		 * fieldname of the file (like the name in <input type="file" name="...">).
		 * Filename is the file's original name (same es 'name' by default') and content type
		 * the file's content type.
		 */
		public function addFile(name:String, data:*, filename:String = null, contentType:String = 'application/octet-stream'):void
		{
			ensureClosed(false);
			if (filename == null) {
				filename = name;
			}
			var str:String;
			_data.writeBytes(BOUNDARY_BYTES);
			_data.writeShort(LINEBREAK_SHORT);
			str = 'Content-Disposition: form-data; name="' + name + '"; filename="' + filename + '"';
			_data.writeBytes(stringToBytes(str));
			_data.writeShort(LINEBREAK_SHORT);
			_data.writeBytes(stringToBytes('Content-Type: ' + contentType));
			_data.writeShort(LINEBREAK_SHORT);
			_data.writeShort(LINEBREAK_SHORT);
			
			// Write data and closing linebreaks
			if (data is ByteArray)
				writeByteByByte(data);
				//_data.writeBytes(data);
			else if (data is String)
				_data.writeUTFBytes(data as String);
			_data.writeShort(LINEBREAK_SHORT);
			_data.writeShort(LINEBREAK_SHORT);
		}
		
		private function writeByteByByte(data:ByteArray):void{
			data.position = 0;
			while(data.bytesAvailable > 0){
				_data.writeByte(data.readByte());
			}
		}
		/**
		 * Binds this data to an URLRequest instance by setting the required
		 * content type and http method and binding the data to 'urlRequest.data'.
		 * Additionally, the header 'Cache-Control: no-cache' is set.
		 */
		public function bind(urlRequest:URLRequest):void
		{
			ensureClosed(true);
			urlRequest.requestHeaders.push( new URLRequestHeader('Cache-Control','no-cache'));
			urlRequest.contentType = contentType;
			urlRequest.method = URLRequestMethod.POST;
			urlRequest.data = _data;
		}
		
		/**
		 * Creates an new URLRequest instance and binds this data.
		 *&
		 public function toUrlRequest(url:String = null):URLRequest
		 {
		 var urlRequest:URLRequest = new URLRequest(url);
		 bind(urlRequest)
		 return urlRequest;
		 }
		 
		/**
		 * Converts a string into an byte array
		 */
		public static function stringToBytes(value:String):ByteArray
		{
			var bytes:ByteArray = new ByteArray();
			var i:int;
			for (i=0; i < value.length; i++) {
				bytes.writeByte(value.charCodeAt(i));
			}
			return bytes;
		}
		
		/**
		 * Throws an exception if the session's state is not as expected.
		 */ 
		private function ensureClosed(requiredState:Boolean):void
		{
			if (closed != requiredState) {
				if (requiredState) {
					throw new Error("Post data has not been closed yet.");
				} else {
					throw new Error("Post data has already been closed.");
				}
			}
		}
		
		/**
		 * Generates a random boundary string as described in RFC 1341 Section 7.2
		 */
		public static function makeBoundary(length:uint):String
		{
			var result:String = "";
			var chars:String = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";
			var index:int;
			while (length-- > 0) {
				index = Math.random() * chars.length; // int between 0 .. chars.length
				result += chars.charAt(index); 
			}
			return result;
		}
		
		
	}
}
```

I will close this issue because IT ALL WORKSS WELL!!!!!! HURRAYYYY

![image](https://user-images.githubusercontent.com/26530975/34649183-494e813c-f3aa-11e7-9613-5318767d9628.png)

```
onSettingsReceived: 
--3fOVgxHDNkj6rzMCi2BdMultqzf6amwn

Content-Disposition: form-data; name="modtime"



2018-01-07T12:56:04Z

--3fOVgxHDNkj6rzMCi2BdMultqzf6amwn

Content-Disposition: form-data; name="air_upload"; filename="EmbbederBundle.swf"

Content-Type: application/octet-stream



CWS҂
onFileUploadComplete
{
  "got": [
    {
      "filename": "EmbbederBundle.swf",
      "modtime": "2018-01-07T12:56:04Z",
      "formname": "air_upload",
      "fileref": "sha1-1aa28254432e929e6308263d1911b2dc300f5c58"
    }
  ]
}

Unsigned blob:
{"camliVersion":1,"camliSigner":"sha1-b76807603a365ab9a7ba4ed2aaa6bbfa4b66b8e6","random":"VZ7CtQ8Jw1CfqvoXIt24GuIDVRTeFm6A","camliType":"permanode","claimDate":"2018-01-07T12:56:04Z"}
onPermaNodeSigned
{"camliVersion":1,"camliSigner":"sha1-b76807603a365ab9a7ba4ed2aaa6bbfa4b66b8e6","random":"VZ7CtQ8Jw1CfqvoXIt24GuIDVRTeFm6A","camliType":"permanode","claimDate":"2018-01-07T12:56:04Z","camliSig":"wsBcBAABCAAQBQKIbgkACRCsrE/ktD/PkQAAiGcIAB6NUGzSXDT+sbEiS5pTXarPc4eaYcb4WfJAcrOIUn7p9t7PC0gnAoaTE1HoSv4lxu5lfvHbzwfMiJb6jgj+WfnKuK/9iePsmxAK8KlG5q2UyfoI1getOD+V1mw31436g/H17Yk05NzvKXu9oIfzkNt57mfeOMAXoWnZWDLrxTirz4+YLlEKlsNc+S8qH4a5S/lWL1cC4glaUjS1oQodDhW9mnaPTOLq0ddyrz0hI0d8Fg8CsXGLDLhADqo8jDPbXTFZWlL309P+8ITT5g55BJ7tk21/EtVLrcdaJo4O6/iYeA5nG35MAvTs+vGf8IsErEFmHwtEz/e73t4e5t+FMW4==KmiJ"}

Permanode Signed Successfully!
Signed blob:
{"camliVersion":1,"camliSigner":"sha1-b76807603a365ab9a7ba4ed2aaa6bbfa4b66b8e6","random":"VZ7CtQ8Jw1CfqvoXIt24GuIDVRTeFm6A","camliType":"permanode","claimDate":"2018-01-07T12:56:04Z","camliSig":"wsBcBAABCAAQBQKIbgkACRCsrE/ktD/PkQAAiGcIAB6NUGzSXDT+sbEiS5pTXarPc4eaYcb4WfJAcrOIUn7p9t7PC0gnAoaTE1HoSv4lxu5lfvHbzwfMiJb6jgj+WfnKuK/9iePsmxAK8KlG5q2UyfoI1getOD+V1mw31436g/H17Yk05NzvKXu9oIfzkNt57mfeOMAXoWnZWDLrxTirz4+YLlEKlsNc+S8qH4a5S/lWL1cC4glaUjS1oQodDhW9mnaPTOLq0ddyrz0hI0d8Fg8CsXGLDLhADqo8jDPbXTFZWlL309P+8ITT5g55BJ7tk21/EtVLrcdaJo4O6/iYeA5nG35MAvTs+vGf8IsErEFmHwtEz/e73t4e5t+FMW4==KmiJ"}

sjson=%7B%22camliVersion%22%3A1%2C%22camliSigner%22%3A%22sha1%2Db76807603a365ab9a7ba4ed2aaa6bbfa4b66b8e6%22%2C%22random%22%3A%22VZ7CtQ8Jw1CfqvoXIt24GuIDVRTeFm6A%22%2C%22camliType%22%3A%22permanode%22%2C%22claimDate%22%3A%222018%2D01%2D07T12%3A56%3A04Z%22%2C%22camliSig%22%3A%22wsBcBAABCAAQBQKIbgkACRCsrE%2FktD%2FPkQAAiGcIAB6NUGzSXDT%2BsbEiS5pTXarPc4eaYcb4WfJAcrOIUn7p9t7PC0gnAoaTE1HoSv4lxu5lfvHbzwfMiJb6jgj%2BWfnKuK%2F9iePsmxAK8KlG5q2UyfoI1getOD%2BV1mw31436g%2FH17Yk05NzvKXu9oIfzkNt57mfeOMAXoWnZWDLrxTirz4%2BYLlEKlsNc%2BS8qH4a5S%2FlWL1cC4glaUjS1oQodDhW9mnaPTOLq0ddyrz0hI0d8Fg8CsXGLDLhADqo8jDPbXTFZWlL309P%2B8ITT5g55BJ7tk21%2FEtVLrcdaJo4O6%2FiYeA5nG35MAvTs%2BvGf8IsErEFmHwtEz%2Fe73t4e5t%2BFMW4%3D%3DKmiJ%22%7D%0A
onPermaNodeVerified
{
  "signatureValid": true,
  "signerKeyId": "ACAC4FE4B43FCF91",
  "verifiedData": {
    "camliSigner": "sha1-b76807603a365ab9a7ba4ed2aaa6bbfa4b66b8e6",
    "camliType": "permanode",
    "camliVersion": 1,
    "claimDate": "2018-01-07T12:56:04Z",
    "random": "VZ7CtQ8Jw1CfqvoXIt24GuIDVRTeFm6A"
  }
}

Permanode verified Successfully!
Permanode UPLOADING

--3fOVgxHDNkj6rzMCi2BdMultqzf6amwn

Content-Disposition: form-data; name="sha1-48ab0533370ae501b21ee7382701e808be0c27c5"; filename="blob"

Content-Type: application/octet-stream



{"camliVersion":1,"camliSigner":"sha1-b76807603a365ab9a7ba4ed2aaa6bbfa4b66b8e6","random":"VZ7CtQ8Jw1CfqvoXIt24GuIDVRTeFm6A","camliType":"permanode","claimDate":"2018-01-07T12:56:04Z","camliSig":"wsBcBAABCAAQBQKIbgkACRCsrE/ktD/PkQAAiGcIAB6NUGzSXDT+sbEiS5pTXarPc4eaYcb4WfJAcrOIUn7p9t7PC0gnAoaTE1HoSv4lxu5lfvHbzwfMiJb6jgj+WfnKuK/9iePsmxAK8KlG5q2UyfoI1getOD+V1mw31436g/H17Yk05NzvKXu9oIfzkNt57mfeOMAXoWnZWDLrxTirz4+YLlEKlsNc+S8qH4a5S/lWL1cC4glaUjS1oQodDhW9mnaPTOLq0ddyrz0hI0d8Fg8CsXGLDLhADqo8jDPbXTFZWlL309P+8ITT5g55BJ7tk21/EtVLrcdaJo4O6/iYeA5nG35MAvTs+vGf8IsErEFmHwtEz/e73t4e5t+FMW4==KmiJ"}


--3fOVgxHDNkj6rzMCi2BdMultqzf6amwn--


onPermanodeUploaded: {
  "received": [
    {
      "blobRef": "sha1-48ab0533370ae501b21ee7382701e808be0c27c5",
      "size": 587
    }
  ]
}

Claim Signed Successfully!
onClaimSigned: {"value":"sha1-1aa28254432e929e6308263d1911b2dc300f5c58","camliVersion":1,"claimType":"set-attribute","random":"yGMVhiuQW6KaiRi80h44zSmhCSSOfyKG","camliType":"claim","attribute":"camliContent","camliSigner":"sha1-b76807603a365ab9a7ba4ed2aaa6bbfa4b66b8e6","claimDate":"2018-01-07T12:56:14Z","permaNode":"sha1-48ab0533370ae501b21ee7382701e808be0c27c5","camliSig":"wsBcBAABCAAQBQKIbgkACRCsrE/ktD/PkQAAAioIAIlJFx6D9IaGfPxey1lGR+OxJHnFjXDVtGYB7WjxM60rpa3QUm/5xh37MbE7RlS3bZk/WbYCp3q0zqsNQSpC24Ddyxuo60gPnByOTrwxHOSYtuLYnYyLZZ6qjmenyg/fPO2eVu4UxEV0q9jqKSS0Fbdf3JMYM9FZ59gBYzcvRacBubyzb6Bfa4JUrowBYyuUSr0eYbfhVmDVHbuJgwKxX5gMI42ONZcJCA58v2To/mD0j9lobGqUuvdrBVo1eNtenePDo2tKR02DGLyhpCZGSgAr/8h2/3SwCzmrm/o581vC3XYR4FqtQOliJMrhTm+jrSvyg0fEDECN9ZLiyyiphCg==7ujw"}

Permanode UPLOADING

--3fOVgxHDNkj6rzMCi2BdMultqzf6amwn

Content-Disposition: form-data; name="sha1-744ecfdca725bb0d64c32d9827879fcd30309185"; filename="blob"

Content-Type: application/octet-stream



{"value":"sha1-1aa28254432e929e6308263d1911b2dc300f5c58","camliVersion":1,"claimType":"set-attribute","random":"yGMVhiuQW6KaiRi80h44zSmhCSSOfyKG","camliType":"claim","attribute":"camliContent","camliSigner":"sha1-b76807603a365ab9a7ba4ed2aaa6bbfa4b66b8e6","claimDate":"2018-01-07T12:56:14Z","permaNode":"sha1-48ab0533370ae501b21ee7382701e808be0c27c5","camliSig":"wsBcBAABCAAQBQKIbgkACRCsrE/ktD/PkQAAAioIAIlJFx6D9IaGfPxey1lGR+OxJHnFjXDVtGYB7WjxM60rpa3QUm/5xh37MbE7RlS3bZk/WbYCp3q0zqsNQSpC24Ddyxuo60gPnByOTrwxHOSYtuLYnYyLZZ6qjmenyg/fPO2eVu4UxEV0q9jqKSS0Fbdf3JMYM9FZ59gBYzcvRacBubyzb6Bfa4JUrowBYyuUSr0eYbfhVmDVHbuJgwKxX5gMI42ONZcJCA58v2To/mD0j9lobGqUuvdrBVo1eNtenePDo2tKR02DGLyhpCZGSgAr/8h2/3SwCzmrm/o581vC3XYR4FqtQOliJMrhTm+jrSvyg0fEDECN9ZLiyyiphCg==7ujw"}


--3fOVgxHDNkj6rzMCi2BdMultqzf6amwn--


onClaimUploaded: {
  "received": [
    {
      "blobRef": "sha1-744ecfdca725bb0d64c32d9827879fcd30309185",
      "size": 754
    }
  ]
}
```